[Unit]
Description=BTRFS snapshot of %I
BindsTo=%i.mount
After=%i.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/btrfs-snapshot.py -r 24 %I %I/snapshots
