[Unit]
Description=BTRFS snapshot of %I
BindsTo=%i.mount
After=%i.mount

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/local/bin/btrfs-snapshot.py -r 24 $(/usr/bin/systemd-escape -up %i) snapshots'
