[Unit]
Description=Backup BTRFS volumes
BindsTo=mnt-backup\x2dpool\x2d1.mount
After=btrfs-snapshot.service
After=mnt-backup\x2dpool\x2d1.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/btrfs-backup.sh /mnt/pool-1 /mnt/backup-pool-1

[Install]
WantedBy=btrfs-snapshot.service
